@import "ui-variables";

.linter-text {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  &.error {
    text-decoration-color: @text-color-error;
  }
  &.warning {
    text-decoration-color: @text-color-warning;
  }
  &.info {
    text-decoration-color: @text-color-info;
  }
}

.linter-high {
  border-radius: 2px;
  z-index: 10000000;
  &.error {
    background-color: fade(@background-color-error, 20%) !important;
  }
  &.warning {
    background-color: fade(@background-color-warning, 20%);
  }
  &.info {
    background-color: fade(@background-color-info, 20%);
  }
}

.linter-status {
  a {
    padding-left: 0.5em;
  }
  a::before {
    margin-right: 0.25em;
    width: auto;
  }
}

.linter-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: var(--editor-font-size);
  cursor: default;

  .linter-table {
    width: 100%;

    thead {
      position: sticky;
      top: 0;
      z-index: 3;
      background-color: @background-color-highlight;
    }

    tbody {
      background-color: @base-background-color;
    }

    th, td {
      padding: 0.3em 0.5em;
      border: 1px solid @base-border-color;
      border-top: 0px;
      p {
        margin-bottom: unset;
      }
    }

    th:nth-child(1),th:nth-child(2),th:nth-child(3) {
      width: 5%;
      white-space: nowrap;
    }
  }
}
